{% extends "base.html" %}
{% block content %}
  <h3>Why am I banned?</h3>
  <p>You have been banned because you were found in violation of the rules on the nerd.nu Minecraft servers.</p>
  <p>Banning a user and asking them to appeal later is a tactic used by the staff to draw attention to the rules for users who are not online when misconduct is unearthed.</p>
  <p>Please do not panic or take any bans personally and react as such, as we have an extremely high success percentage for appeals.</p>
  <p>Please note that a ban does not always mean you have done something wrong. Try to work with the staff and answer any questions honestly and respectfully.</p>
  
  <h3>What rules must I follow when appealing?</h3>
  <ul>
    <li>Please do not use profanity when appealing</li>
    <li>Please be polite and understanding of the actions of all staff and users.</li>
    <li>State your case briefly and honestly. Chances are we know exactly what you did, and lying will not get you unbanned.</li>
    <li>Take responsibility for any actions on the server.</li>
  </ul>
  
  <h3>Okay, I'm all set. How can I appeal?</h3>
  <p>If you lose the link to your appeal, you can view the ban appeals section by <a href="https://nerd.nu/forums/index.php?/forum/12-ban-appeals/">going here</a>.</p>
  <ol>
    <li><a href="https://nerd.nu/forums/index.php?app=core&module=global&section=register">Register an account</a> on our forums and login</li>
    <li>Fill in your minecraft username in the form below and submit it.</li>
    <li>In the large box titled "Appeal Body", summarize events as best you remembered them and state your point of view.</li>
    <li>Bookmark your topic, and a staff member will be around to assist you shortly! You're done!</li>
  </ol>
  
  <h3>After reading the above and registering and logging into a forums account, type your in-game banned username below:</h3>
  
  <form method="post" action="{{ url_for('standalone.appeal') }}">
    <label for="username">banned minecraft username</label>
    <input type="text" name="username" />
    <input type="submit" value="continue" />
  </form>
  
{% endblock %}
