<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Reddit Public Minecraft{% if title %} :: {{ title }}{% endif %}</title>
    <link type="image/png" rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    {%- assets "css_main" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}"/>
    {%- endassets %}
    <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ie.css') }}" />
    <![endif]-->
    {%- block css %}{% endblock %}
    {%- assets "js_main" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}
    {%- block js %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <div id="header-inner">
        <h1><a href="{{ url_for('standalone.index') }}">Reddit Public Minecraft</a></h1>
        <ul id="menu">
          <li>
            <a href="{{ url_for('standalone.index') }}">servers</a>
            <ul>
              {%- for server_name in server_names %}
              <li><a href="{{ url_for('server.%s_index' % server_name) }}">{{ server_name }}</a></li>
              {%- endfor %}
            </ul>
          </li>
          <li>
          <a href="{{ url_for('standalone.community') }}">community</a>
            <ul>
              <li><a href="{{ url_for('wiki.irc') }}">irc</a></li>
              <li><a href="http://www.redditpublic.com/">wiki</a></li>
              <li><a href="http://www.reddit.com/r/mcpublic/">subreddit</a></li>
              <li><a href="http://nerd.nu/forums/">forum</a></li>
            </ul>
          </li>
          <li>
            <a href="#">info</a>
            <ul>
              <li><a href="{{ url_for('wiki.rules') }}">rules</a></li>
              <li><a href="{{ url_for('standalone.appeal') }}">appeal a ban</a></li>
              <li><a href="{{ url_for('standalone.staff') }}">staff</a></li>
            </ul>
          </li>
        </ul>
        <table id="server-status">
          {%- for server_name in server_names %}
          <tr>
            <th><a href="{{ url_for('server.%s_index' % server_name) }}">{{ server_name }}</a></th>
            <td>
              <span>
                {%- if get_status(server_name) %}
                {{ get_players(server_name) }} online
                {%- else %}
                down
                {%- endif %}
              </span>
            </td>
          </tr>
          {%- endfor %}
        </table>
      </div>
    </div>
    {%- with messages = get_flashed_messages() %}
    {%- if messages %}
    <ul id="flashes">
      {%- for message in messages %}
      <li>{{ message }}</li>
      {%- endfor %}
    </ul>
    {%- endif %}
    {%- endwith %}
    {%- block precontent %}{% endblock %}
    {%- block outcontent %}
    <div id="content">
      {%- block pagetitle %}
        <h2>{{ title }}</h2>
      {%- endblock %}
      <div id="content-inner">
        {%- block content %}{{ body }}{% endblock %}
      </div>
      <div id="footer">
        <span>&copy; 2012 all rights reserved. email outage@nerd.nu if something breaks.</span>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
