<p>
  Located at s.nerd.nu, the Survival server offers a more competitive
  atmosphere for Minecraft multiplayer. With map wide PVP, surviving is a
  challenge. Individual players and organized clans rise and fall through the
  revisions; with glory and fame to be had by those who take it.
</p>
<p>
  If you are tired of how easily you can beat back the zombies and skeletons
  then this is a server for you. While traveling, building or mining, nowhere
  is safe. Minecraft is a challenge again with the constant threat of death and
  the wonderful allure of others' treasures. Your builds are that much more
  impressive, your victory in battle and the loot that you gain more satisfying
  in this environment. It is for those who enjoy a challenge.
</p>