<p>
  The creative server at c.nerd.nu is the oldest of the three servers and, as
  the name suggests, is in creative mode. With unlimited blocks, flying, and a
  large map, your imagination is the limit. Just about anything is possible,
  from skyscrapers to small mountain cabins, from castles to large towns, from
  swampy ponds willed with large wool animals to arks, and from pixelart to
  8bit art to mosaics.
</p>
<p>
  Creative is always full of building activity. There's almost always some sort
  of community project being done, and players are more than welcome to begin
  their own. Many also build solo. Some of the more famous builds include Dome5
  on Rev. 15, The Cheraxium as spawn from Rev. 16, Bicorne from Rev. 17,
  Chenoneau from Rev. 18, Cracktown from Rev. 19, Ice Palace from Rev. 20, and
  The Garden from Rev. 21.
</p>
