{% extends "base.html" %}
{% block js %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}
{% block pagetitle %}
  <h2 id="player-title">{{ username }}</h2>
{%- endblock %}
{% block content %}
  <span id="player-skin" class="mc-skin" data-minecraft-username="{{ username }}"></span>
  <div id="player-inner">
    <h2>time played</h2>
    {%- for server in playertime %}
    <p>
      <strong>
        <a href="{{ url_for('server.%s_index' % server.server) }}">{{ server.server }}</a>:
      </strong>
      {{ pretty_playertime(server.seconds) }}
    </p>
    {%- endfor %}
      {#online in pve|creative
      
      for each server:
        12h played in last week (if in top 1000)
      
      
      (split these by checking world/players)
      creative:
        creations: possible "project lead"
        check-ins: e.g. "Argoth [6 hours ago]
      
      survival:
        clan listing
        recent kills
        most killed
        most killed by
        favourite weapon
      
      pve:
        same as c.#}
  </div>
{%- endblock %}
