<p>
  p.nerd.nu is the reddit player-versus-environment server, where players
  survive and thrive. p.nerd.nu aims to recreate a vanilla singleplayer
  experience that you can share with other players. Since we are a public
  server the only thing you need to join in is the ip address.
</p>
<p>
  We pride ourselves on having a friendly, mature community who are always
  willing to offer help and advice to new and old players alike. Many players
  form towns, cities and even mega-projects all on their own. Cities are always
  looking to expand and many are looking for new residents. Do not be afraid to
  ask in chat if anyone is looking for a new face to build with.
</p>
<p>
  To mix things up a bit, we also run events, quests and puzzles for all
  players who want to have a challenge. You can keep up-to-date on all server
  events over on reddit at r/mcpublic.
</p>