{% extends "modreq.html" %}
{% block modreq_custom %}
  <form action="{{ url_for('appeal') }}">
    
    <label for="server">server</label>
    <select name="server">
      {% for sname in ('creative', 'survival', 'pve') %}
        <option value="{{ sname }}">{{ sname }}</option>
      {% endfor %}
    </select>
    
    <label for="filter">filter</label>
    <select name="filter">
      <option value="all">all</option>
      <option value="open">open</option>
      <option value="claimed">claimed</option>
      <option value="closed">closed</option>
    </select>
    
    <label for="limit">limit</label>
    <input type="text" name="limit" value="100" />
    
    <label for="sort">order</label>
    <select name="sort">
      <option value="asc">Ascending</option>
      <option value="desc" selected="selected">Descending</option>
    </select>
    
    <label for="refresh">refresh interval</label>
    <input type="text" name="refresh" value="90" />
    
    <input type="submit" value="continue" />
  </form>
{% endblock %}
