{% extends "layout.html" %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='modreq.css') }}"/>
    {% if refresh %}<meta http-equiv="refresh" content="{{ refresh }}">{% endif %}
{% endblock %}
{% block js %}{% if not landingPage %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='highcharts.js' )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='modreq.js') }}"></script>{% endif %}
{% endblock %}

{% block content %}
  <ul class="modreq-servers">
    {% for sname in ('creative', 'survival', 'pve') %}
      <li><a href="{{ url_for('modreq', server=sname) }}">{{ sname }}</a></li>
    {% endfor %}
  </ul>
  {% block modreq_custom %}
      <div id="modreq-graph"></div>
      <div id="requests-table">
          <table>
              <tr>
                  <th>#</th>
                  <th>Player</th>
                  <th>Request</th>
                  <th>Status</th>
                  <th>Handled by</th>
                  <th>Message</th>
              </tr>
              {% for req in requests %}
              <tr id="req-{{ req.id }}" class="{{ loop.cycle('odd', 'even') }}">
                  <td><a href="#req-{{ req.id }}">{{ req.id }}</a></td>
                  <td><a href="{{ url_for('player', username=req.player_name) }}">{{ req.player_name }}</a></td>
                  <td>{{ req.request }}</td>
                  <td>{{ req.status }}</td>
                  <td>{% if req.assigned_mod != None %}<a href="{{ url_for('player', username=req.assigned_mod) }}">{% endif %}{{ req.assigned_mod|replace('None', '') }}{% if req.assigned_mod != None %}</a>{% endif %}</td>
                  <td>{{ req.close_message|replace('None', '') }}</td>
              </tr>
              {% endfor %}
          </table>
      </div>
  {% endblock %}
{% endblock %}
