{% extends "layout.html" %}

{% macro faces(mode, players) -%}
  <ul class="playerlist{{ mode }}">
    {% for p in players %}
      <li>
        <a href="{{ url_for('player', username=p) }}">
          <img src="{{ url_for('avatar', username=p, mode=mode) }}" />
        </a>
        <span>{{ p }}</span>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}

{% block content %}
  <h3>Head Admins</h3>
  <p>These guys manage policy and rules and come up with ideas and manage staff relations and generally be bossy.</p>
  {{ faces(1, HeadAdmins) }}
  
  <h3>Technical Admins</h3>
  <p>These guys keep the server up and running. Manage plugins and other server stuff.</p>
  {{ faces(1, TechAdmins) }}
  
  <h3>Server Admins</h3>
  <p>These guys have the full range of in-game powers on a specific server.</p>
  
  <h4>Creative</h4>
  {{ faces(1, CAdmins) }}
  
  <h4>Survival</h4>
  {{ faces(1, SAdmins) }}
  
  <h4>PvE</h4>
  {{ faces(1, PAdmins) }}
  
  <h3>Moderators</h3>
  {{ faces(2, Moderators) }}
  
  <h3>Inactive Mods</h3>
  {{ faces(2, inactive_mods) }}
  
  <h3>Past Mods</h3>
  {{ faces(2, past_mods) }}
{% endblock %}
