#content {
    display:none;
}
#player {
    width:1000px;
    margin: 0 auto;
    position: relative;
}
#player-inner {
    position:absolute;
    left: 130px;
    top: 20px;
    width:825px;
    padding:15px 20px;
    background-color:white;
    border-left:5px solid #ccc;
}

h2 {
    background-color:transparent;
    padding:0;
    margin-bottom:5px;
    text-transform:none;
}
#scratch {
    display:none;
}
h2.player span {
    margin-top:32px;
    display:block;
}
#model {
    position:absolute;
    top:0;
    left:0;
}
#shadow {
    position:absolute;
    top:182px;
    left:0;
    width: 100px;
    height: 50px;
    background: rgba(0,0,0,0.25);
    -moz-border-radius: 50px / 25px;
    -webkit-border-radius: 50px / 25px;
    border-radius: 50px / 25px;
    z-index:-1;
}
