{% extends "base.html" %}
{% block content %}
  <br>
  <form action="{{ url_for('modreq.landing') }}" method="post">
    <label for="server">server</label>
    <select name="server">
      {%- for sname in ('creative', 'pve') %}
      <option value="{{ sname }}">{{ sname }}</option>
      {%- endfor %}
    </select>
    <br><br>
    <label for="status">status</label>
    <select name="status">
      <option value="all">all</option>
      <option value="open">open</option>
      <option value="claimed">claimed</option>
      <option value="closed">closed</option>
    </select>
    <br><br>
    <label for="limit">limit</label>
    <input type="text" name="limit" value="100" />
    <br><br>
    <label for="sort">order</label>
    <select name="sort">
      <option value="asc">Ascending</option>
      <option value="desc" selected="selected">Descending</option>
    </select>
    <br><br>
    <label for="refresh">refresh interval</label>
    <input type="text" name="refresh" value="90" />
    <br><br>
    <input type="submit" value="continue" />
  </form>
{%- endblock %}
