div#modreq-server-container {
    height:200px;
}
h2.modreq-server {
    display:inline-block;
    padding:0;
    position:relative;
    margin:-1px;
    margin-left:-2px;
    margin-top:0px;
    width:332px;
}
h2.modreq-server a {
    color:white;
    padding:3px;
    margin:-3px;
}
h2.modreq-server a:hover {
    color:white !important;
    background-color:rgba(0,0,0,0.4) !important;
}
h2.modreq-server-creative {
    background-image: url(img/head-c.png);
    background-position: -350px 0px;
    margin-left:0px;
}
h2.modreq-server-survival {
    background-image: url(img/head-s.png);
    background-position: -463px 0px;
    width:336px;
}
h2.modreq-server-pve      {
    background-image: url(img/head-p.png);
    background-position: -440px 0px;
}
#modreq-server-background-overlay {
    display:block;
    width:100%;
    height:190px;
    border-bottom:10px solid rgba(0,0,0,0.4);
}

.args-table table {
    width:50% !important;
}

#requests-table table {
    width:100%;
    border-collapse:collapse;
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    border-bottom:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
} 
#requests-table tr.odd td   {
    background:#f7fbff
}
#requests-table td {
    color:#678197;
    border-left:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    padding:.3em 1em;
    text-align:left;
}               
#requests-table th {
    font-weight:normal;
    color: #678197;
    text-align:left;
    border-bottom: 1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
}                           
#requests-table thead th {
    background:#f4f9fe;
    text-align:left;
    font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#66a3d3
}   
#requests-table tfoot th {
    text-align:left;
    background:#f4f9fe;
}   
#requests-table tfoot th strong {
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:.5em .5em .5em 0;
    color:#66a3d3;
}       
#requests-table tfoot th em {
    color:#f03b58;
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}