html * {
    margin: 0;
    padding: 0;
    border-width: 0;
    
}

body {
    min-width:1024px;
    background: url(img/back5.png);
    font-family: 'Droid Sans', sans-serif;
    font-size:12px;
    color:#333;
}
a {
    color:#007dc6;
    text-decoration:none;
    padding:0 2px;
}
#content a:hover {
    color:white;
    background-color:#007dc6;
}

/*** HEADER ***/

#header h1 {
    display: inline-block;
    float: left;
    background: url(img/logo2.png) no-repeat center left;
    padding-left:40px;
    /*border-right:1px solid #ccc;*/
    height:72px;
    line-height:72px;
    font-family: 'Crimson Text';
    font-weight: normal;
    text-transform: lowercase;
    font-size:2.2em;
}
#header h1 a {
    padding:0;
}
#header h1 a:hover {
    background-color:transparent;
}
#header {
    height:72px;
    background-image:url(img/back4.png);
    margin-bottom:30px;
    color:white;
    opacity:0.9;
}
#header a {
    color: white;
}
#header a:hover {
    background-color:rgba(0,0,0,0.7);
}
#header-inner {
    width: 1000px;
    margin: 0 auto;
}


#menu {
    display: inline-block;
    height: 72px;
    line-height: 72px;
    float: left;
    margin:0; 
    margin-left: 125px;
}
#menu li {
    list-style-type: none;
    float:left; 
    padding: 0;
}
#menu>li:not(:first-of-type) {
    margin-left: 50px;
}
#menu li:hover {
    background-color: rgba(0,0,0,0.7);
}
#menu a {
    height: 100%;
    display: block;
    font-weight:bold;
    padding:0 10px;
}
#menu a:hover {
    background: transparent;
}
#menu li ul {
    position: absolute;
    line-height: 30px;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
}
#menu li:hover ul {
    display: block;
}
#menu li ul li {
    float: none;
}
#menu li ul li a {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

#server-status {
    float: right;
    height: 72px;
    width:150px;
    border-collapse:collapse;
}
#server-status th {
    text-align:left;
}
#server-status td span {
    font-size:0.8em;
    display:block;
    text-align:center;
    float:right;
    /*font-variant:small-caps;*/
    border: 1px solid rgba(0,  0,  0,   0.4);
    background-color: rgba(255,255,255, 0.1);
    padding:3px;
    height: 12px;
    width:75px;
}
#server-status a {
    padding:2px 4px;
    height:14px;
    display: block;
    width: 100%;
}

#flashes {
    padding:0;
    margin:0;
}
#flashes li {
    list-style-type:none;
    display:block;
    width:980px;
    background: #CEE5F5; 
    padding: 10px;
    border: 1px solid #AACBE2;
    margin:0 auto;
}

/*** CONTENT ***/

h2 {
    display:block;
    background-color:#f0f0f0;
    font-family:'Arvo', serif;
    font-size:2em;
    color:#444;
    font-weight:normal;
    text-transform:lowercase;
    margin: 10px 0;
    padding:10px 0 10px 15px;
}

h2.server {
    height:200px;
    padding:0;
    margin-bottom:30px;
    
}
h2.server-creative { background-image: url(img/head-c.png); }
h2.server-survival { background-image: url(img/head-s.png); }
h2.server-pve      { background-image: url(img/head-p.png); }
h2.server-community {
    background-image: url(img/head-mumble.png);
    background-position: 205px 20px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
div.index-server-creative { background-image: url(img/index-c.png); }
div.index-server-survival { background-image: url(img/index-s.png); }
div.index-server-pve      { background-image: url(img/index-p.png); }

div.index-server {
    height:300px;
    padding:0;
    margin:0;
    clear:left;
}
div.index-server a {
    color:white;
    padding:3px;
    margin:-3px;
}
div.index-server a:hover {
    color:white !important;
    background-color:rgba(0,0,0,0.4) !important;
}
div.index-server-background-overlay {
    height:290px;
    width:960px;
    border-bottom:10px solid rgba(0,0,0,0.4);
}
div.index-server-text-wrapper {
    float:left;
    clear:left;
    width:200px;
    margin:10px 0 0 10px;
    padding:10px;
    background-color:rgba(0,0,0,0.6);
    color:white;
}
div.index-server-text-wrapper h2 {
    padding:0;
    margin: 0;
    margin-bottom:3px;
    font-size:1.7em;
    background-color:transparent;
    border-width:0;
    color:white;
}
div.index-server-text-wrapper p {
    padding-bottom:3px;
}

#server-background-overlay {
    display:block;
    width:960px;
    height:192px;
    border-bottom:8px solid rgba(0,0,0,0.4);
    
}
#server-text-wrapper {
    float:left;
    background-color:rgba(0,0,0,0.6);
    border-left:5px solid rgba(0,0,0,0.2);
    color:white;
    display:block;
    text-align:right;
    position:relative;
    top:20px;
    padding:5px 15px 5px 50px;
}

div#content {
    margin: 30px auto 20px auto;
    background-color:white;
    width:960px;
    /*-moz-box-shadow: 0 0 4px #fff;*/
    /*-webkit-box-shadow: 0 0 4px #000;*/
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
div#content-inner {
    padding:20px;
    padding-left:35px;
    line-height:14px;
    margin-top:-20px;
}

div#footer {
    clear:left;
    background-image:url(img/irongrip.png);
    margin-bottom:40px;
    
}
div#footer span {
    display:block;
    font-weight:bold;
    padding:7px 0 12px 12px;
    border-top:5px solid rgba(0,0,0,0.2);
    color:white;
}
p {
    padding-bottom:10px;
}

#server-c {
    background-image:url(img/c-icon.png);
}
#server-s {
    background-image:url(img/s-icon.png);
}
#server-p {
    background-image:url(img/p-icon.png);
}

div.wikihtml {

}
div.wikihtml #toc {
    display:none;
}
ol, ul {
    margin-left:25px;
}
h3 {
    margin:20px 0 20px -15px;
    border-bottom: 1px solid #ddd;
    padding:5px;
    display:block;
    font-family:'Arvo', serif;
    font-size: 1.9em;
    line-height: 1.2em;
    text-transform:lowercase;
    font-weight:normal;
    clear:left;
}
h4 {
    font-family:'Arvo', serif;
    margin:16px 0 8px 0;
    text-transform:lowercase;
    font-size:1.5em;
    font-weight:normal;
    clear:left;
}
h5 {
    font-family:'Arvo', serif;
    margin:8px 0 4px 0;
    text-transform:lowercase;
    font-size:1.3em;
    font-weight:normal;
    clear:left;
}

blockquote {
  padding: 10px;
  border-left: 5px solid #CCC;
  margin-bottom: 24px;
  background-color: #EEEEEE;
}

li {
    padding:4px 0 0 5px;
}

ul.playerlist1 {
    margin:0;
    padding:0;
}
ul.playerlist1 li {
    list-style-type: none;
    float:left;
    padding:5px 5px 10px 5px;
    text-align:center;
    margin:10px 10px 30px 10px;
    border-bottom: 4px solid #eee;
}
ul.playerlist1 li:hover, ul.playerlist1 li:hover img {
    border-color:#ccc;
}
ul.playerlist1 img {
    border: 5px solid #eee;
    width:96px;
    height:96px;
    display:block;
    margin-bottom:10px;
}
ul.playerlist1 a, ul.playerlist2 a {
    background-color:white !important;
}


ul.playerlist2 {
    margin-left:25px;
}
ul.playerlist2 li {
    list-style-type: none;
    float:left;
    width:176px;
    border: 1px solid #ddd;
    padding:5px;
    margin:10px 15px;
}
ul.playerlist2 li:hover {
    border-color:#ccc;
}
ul.playerlist2 img {
    float:left;
    width:48px;
    height:48px;
}
ul.playerlist2 span {
    display:inline;
    line-height:48px;
    margin-left:10px;
    vertical-align:center;
}



form {
    display:block;
    width:480px;
    margin:0 auto;
    border-color:#ccc;
    background: url(img/back5.png);
    padding:15px;
    text-align:center;
}
input[type="text"] {
    border: 1px solid #ccc;
    padding:4px;
    height: 15px;
}
input[type="submit"] {
    border: 1px solid #999;
    background-color: white;
    font-weight:bold;
    padding:2px;
    height: 24px;
    font-size:1em;
}
label {
    margin-right:10px;
    font-weight: bold;
}
img.usage {
    margin:0 auto;
    display:block;
}
#rev-label {
    margin-right:15px;
    text-align:center;
    margin-bottom:12px;
    font-weight:bold;
    display:block;
}


#rev-list {
    position:absolute;
    left:50%;
    padding:0; 
    margin:0; 
    white-space:nowrap;
    overflow:show;
    display:block;
}
#rev-list li {
    list-style-type: none;
    float:left; 
    position:relative;
    top:0;
    right:50%;
    margin:0;
    padding:0;
    height:30px;
}
#rev-list a {
    display:block;
    text-align:center;
    width:25px;
    height:14px;
    padding: 3px 0;
    border-bottom:3px solid #eee;
}
#rev-list a:hover {
    background-color:#eee;
    color:#007dc6;
    border-color: #bbb;
}
#rev-list a.selected {
    font-weight:bold;
    border-color: #ccc;
}




#build-links {
    margin: 45px 15px 15px 0;
    display:block;
    text-align:center;
}
#build-links a {
    padding:5px;
    margin-bottom:3px;
}


#players-list {
    margin-left:12px;
    display:none;
    margin-bottom:12px;
}
#players-list li {
    list-style-type:none;
    margin:0;
    line-height:1.2em;
    display:inline;
}
#player-list-clearer {
    clear:both;
    height:12px;
}




ul.community {
    margin:0;
    padding:0;
}
ul.community li {
    list-style-type: none;
    padding:0;
    height: 40px;
    border-left:5px solid #ddd;
    clear:left;
    margin-top:10px;
}
ul.community span.comments:before {
    content: '• ';
}


/*RHS*/


ul.community span.sr-content {
    float:left;
    padding-top:8px;
    display:block;
}

ul.community span.title {
    display:block;
    padding-left:5px;
    font-size:1.1em;
}
ul.community span.author {
    padding-top:2px;
    padding-left:5px;
}

ul.community span.author:before {
    content: 'by ';
    padding-left:10px;
}
div.headerless {
    margin:20px 0px -10px -15px;
}
#current-rev {
    display:none;
}
ul.builds-1 {
    margin:0;
    border:0;
}
ul.builds-1 li {
    float:left;
    width:210px;
    list-style-type: none;
    padding:0;
    height: 18px;
    border-left:5px solid #ddd;
    padding-left:10px;
    margin-bottom: 5px;
    overflow:hidden;
    
}
ul.builds-1 a.builds-wiki {
    float:left;
    font-weight:bold;
    display:block;
    padding:3px 2px;
    margin-right:5px;
}
ul.builds-1 a.builds-carto {
    float:left;
    background-color: #eee;
    display:block;
    padding:2px;
}

