#content {
    display:none;
}
#player {
    width:1000px;
    margin: 0 auto;
}
#player-inner {
    float: left;
    width:825px;
    margin: 20px 0 0 30px;
    padding:15px 20px;
    background-color:white;
    border-left:5px solid #ccc;
}

h2 {
    background-color:transparent;
    padding:0;
    margin-bottom:5px;
    text-transform:none;
}
.scratch {
    display:none;
}
h2.player span {
    margin-top:32px;
    display:block;
}
.mc-skin {
    float: left;
    /* keeps space to left of #player-inner while skin is loading */
    min-height: 1px;
    width: 100px;
    display: block;
}
.mc-skin:not(:empty)::after {
    content: '';
    display: block;
    width: 100px;
    height: 50px;
    background: rgba(0,0,0,0.25);
    -moz-border-radius: 50px / 25px;
    -webkit-border-radius: 50px / 25px;
    border-radius: 50px / 25px;
    margin-top: -45px;
}
